@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
   --active-color: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --active-color: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}
nav ul li a.active {
  color:  var(--active-color); /* Indigo color or any color you prefer */
  font-weight: bold;
}
